*{
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container-agendar, .container-turnos-agendados{
    display: flex;
    width: 100%;
    flex-direction: column;
}

@media only screen and (min-width: 992px) {
    .container-agendar, .container-turnos-agendados{
    width: 50%;
}
    .todo{
        display: flex;
        flex-direction: row;
        gap: 6rem;
    }
}
